<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>
    {{ page_title }}{% if current_tags %} &ndash; {{ 'general.meta.tags' | t: tags: current_tags | join: ', ' }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>
  
  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  
  {{ content_for_header }}
  
  <!-- Stylesheet -->
  {{ 'styles.css' | asset_url | stylesheet_tag }}
  
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  
  <!-- Google Fonts - Tajawal -->
  <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700&display=swap" rel="stylesheet">
  
  <!-- Theme JavaScript deferred -->
  {{ 'script.js' | asset_url | script_tag: defer: true }}
</head>

<body class="{% if settings.enable_dark_mode %}dark-theme{% endif %}">
  {% section 'header' %}
  
  <div class="menu-overlay"></div>
  
  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>
  
  {% section 'footer' %}
  
  {% section 'chat-widget' %}
  
  {% section 'share-navigation' %}
</body>
</html> 